canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2/ span 5 /*start at 2 takes upto 5 columns*/
}

.section-1 {
  grid-column: 2 / 8 /*start at 2 ends at 8*/
}